<!-- HTML for the display of a report on attempts at different exercises by the user -->
<div class="row">
    <div class="col-md-12">
        <!-- Link to bring the user back to the exercises -->
        <div ng-controller="ExerciseController as ec" align="center">
            <br />
            <a  href="#" ng-click="ec.viewExercisesClick(mainController)"><button class="btn btn-primary">Back to Exercises</button></a><br />
        </div>
        <h3><span align="center">Attempts Report</span></h3><br />
        <ul>
            <li ng-repeat="entry in mainController.report.attempts">
                <b><u>Question: </u></b>{{ entry.question }}<br />
                <table class="table table-striped">
                    <tr>
                        <th>Attempt Date</th>
                        <th>Score</th>
                    </tr>
                    <tr ng-repeat="attempt in entry.attempts">
                        <td>{{ attempt.when_attempted | date:'medium' }}</td>
                        <td>{{ attempt.score | lmScoreWord }}</td>
                    </tr>
                </table>
            </li>
        </ul>
    </div>
</div>