<div class="container overall_exercise_resource_container">
    <div class="row spacer_row">
        <div class="col-xs-12">&nbsp;</div>
    </div>

    <div class="row report_button_row">
        <div class="col-xs-12" align="center" ng-controller="AttemptsReportController as arc">
            <a href="#" data-toggle="modal" data-target="#addExerciseModal"><button class="btn btn-primary">Add Flaskmark</button></a>
            <a href="#" ng-click="arc.viewAttemptsClick(mainController)"><button class="btn btn-primary">Exercise Attempts</button></a>
        </div>
    </div>

    <div class="row spacer_row">
        <div class="col-xs-12">&nbsp;</div>
    </div>

    <div class="row exercise_resource_containers_row">
        <div class="col-xs-12 exercise_container_column">
            <div class="container exercise_container">
                <div class="row exercise_title_row">
                    <div class="col-xs-12" align="center">
                        <u><b>Exercises</b></u>
                    </div>
                </div>
                <div class="row exercise_data_table_row">
                    <div class="col-xs-12">
                        <table class="table">
                            <tr>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                            </tr>
                            <tr ng-repeat="exercise in dataList.exercises | orderBy:'id':true">
                                <td><a ng-click="ec.deleteExerciseClick(exercise.id)"><button class="btn btn-danger">delete</button></a></td>
                                <td><a ng-click="ec.exerciseClick(exercise)">{{exercise.question}}</a></td>
                                <td><a ng-click="ec.resourceButtonClick(exercise)"><button class="btn btn-info">resources</button></a></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row new_question_form_container_row">
                    <div class="col-xs-12">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



<!--
Modal dialogs for asking questions, seeing answers, and sending score submissions
-->


<div class="modal fade" id="resourceListId">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Resources - {{ activeObject.exercise.question }}
            </div>
            <div class="modal-body">
                            <table class="table resource_data_table">
                                <tr ng-repeat="resource in dataList.resources">
                                    <td><a href="{{resource.url}}" target="_blank">{{resource.caption}}</a></td>
                                    <td><button class="btn btn-danger" ng-click="ec.deleteLearningResourceClick(resource.resource_id)">delete</button></td>
                                </tr>
                            </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ec.resourceListToResourceModalClick()">Add Resource</button>
                <button class="btn btn-primary" data-target="#resourceListId" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="addExerciseModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" align="center">New Exercise</div>
            <div class="modal-body">
                        <div class="container new_exercise_form_container">
                            <div class="row">
                                <div class="col-lg-6 col-xs-12">
                                    New Question
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-xs-12">
                                    <textarea maxlength="140" rows="5" cols="35" id="newQuestionId" ng-model="ec.newinfo.question" ng-change="ec.updateCharsLeft('newQuestion', 'questionCharsLeft')"></textarea><br />
                                    {{ questionCharsLeft }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-xs-12">
                                    New Answer
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-xs-12">
                                    <textarea maxlength="140" rows="5" cols="35" id="newAnswerId" ng-model="ec.newinfo.answer" ng-change="ec.updateCharsLeft('newAnswer', 'answerCharsLeft')" /><br />
                                    {{ answerCharsLeft }}
                                </div>
                            </div>
                            <div class="row">
                                <button class="btn btn-primary" data-target="#addExerciseModal" data-dismiss="modal">Cancel</button>
                                <button class="btn btn-primary" ng-click="ec.addExerciseClick(ec.newinfo.question, ec.newinfo.answer)">OK</button>
                            </div>
                        </div>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>


<div class="modal fade" id="addResourceModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" align="center">New Learning Resource - {{ activeObject.exercise.question }}</div>
            <div class="modal-body">
                <div class="container resource_form_container">
                    <div class="row">
                        <div class="col-lg-6 col-xs-12">New Resource Caption</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-xs-12">
                            <textarea maxlength="140" cols="35" rows="4" ng-model="ec.newinfo.caption" ng-change="ec.updateCharsLeft('new_caption_field', 'captionCharsLeft')"></textarea><br />
                            {{ captionCharsLeft }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-xs-12">New Resource URL</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-xs-12">
                            <textarea maxlength="140" cols="35" rows="4" ng-model="ec.newinfo.url" ng-change="ec.updateCharsLeft('new_url_field', 'urlCharsLeft')"></textarea><br />
                            {{ urlCharsLeft }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-xs-12">
                            <button class="btn btn-primary" data-target="#addEResourceModal" data-dismiss="modal">Cancel</button>
                            <button class="btn btn-primary" ng-click="ec.addLearningResourceClick(ec.newinfo.caption, ec.newinfo.url)">OK</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>

<!-- Dialog showing the user a question -->
<div class="modal fade" id="questionModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <u><b>Question</b></u>
            </div>
            <div class="modal-body">
                {{activeObject.exercise.question}}
            </div>
            <div class="modal-footer" align="center">
                <button class="btn btn-lg btn-primary" ng-click="ec.showAnswerClick()">Show Answer</button>
            </div>
        </div>
    </div>
</div>

 <!--
 The dialog that follows the question dialog.  Shows question, answer,
 and buttons the user can select to submit on how well they feel they did.
 -->
<div class="modal fade" id="questionAnswerModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <u><b>Question</b></u>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12"><b><u>{{activeObject.exercise.question}}</u></b></div>
                </div>
                <div class="row">
                    <div class="col-xs-12">&nbsp;</div>
                </div>
                <div class="row">
                    <div class="col-xs-12"><pre>{{activeObject.exercise.answer}}</pre></div>
                </div>
            </div>
            <div class="modal-footer" align="center">
                <div class="row">
                    <div class="col-xs-12" align="center">
                        <button class="btn btn-lg btn-danger" ng-click="ec.scoreClick(1)">
                            bad
                        </button>
                        <button class="btn btn-lg"  ng-click="ec.scoreClick(2)">
                            okay
                        </button>
                        <button class="btn btn-lg btn-primary"  ng-click="ec.scoreClick(3)">
                            good
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

