<div class="container overall_exercise_resource_container" ng-show="show">
    <div class="row spacer_row">
        <div class="col-xs-12">&nbsp;</div>
    </div>

    <div class="row spacer_row">
        <div class="col-xs-12">&nbsp;</div>
    </div>

     <div class="row spacer_row">
        <div class="col-xs-12">&nbsp;</div>
    </div>

    <div class="row exercise_resource_containers_row">
        <div class="col-xs-12 exercise_container_column">
            <div class="container exercise_container">
                <div class="row exercise_title_row">
                    <div class="col-xs-12" align="center">
                        <u><b>Exercises</b></u>
                    </div>
                </div>
                <div class="row exercise_data_table_row">
                    <div class="col-xs-12">
                        <div id="exerciseList">
                            <div ng-include="'/static/exercise_display/modals.html'"></div>
                            <table class="table">
                                <tr>
                                    <th>&nbsp;</th>
                                    <th>&nbsp;</th>
                                </tr>
                                <tr ng-repeat="exercise in ec.dataList.exercises | orderBy:'difficulty':true">
                                    <td class="visible-lg"><a ng-click="ec.deleteExerciseClick(exercise.id)"><button class="btn btn-danger">delete</button></a></td>
                                    <td class="visible-lg">
                                        <a href="#" class="badge" ng-click="ec.allTagsClick()">All Tags</a>
                                        <a href="#" class="badge" ng-click="ec.changeTagsClick(exercise.id)">Change Tags</a>
                                        <br />
                                        <a ng-click="ec.exerciseClick(exercise)">{{exercise.question}}</a>
                                    </td>
                                    <td class="visible-lg"><a ng-click="ec.resourceButtonClick(exercise)"><button class="btn btn-info">resources</button></a></td>
                                    <td class="visible-xs">
                                        <table>
                                            <tr>
                                                <td colspan="3"><a ng-click="ec.exerciseClick(exercise)">{{exercise.question}}</a></td>
                                            </tr>
                                            <tr>
                                                <td>&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td><a ng-click="ec.deleteExerciseClick(exercise.id)"><button class="btn btn-danger">delete</button></a></td>
                                                <td>&nbsp;&nbsp;&nbsp;</td>
                                                <td><a ng-click="ec.resourceButtonClick(exercise)"><button class="btn btn-info">resources</button></a></td>
                                            </tr>
                                            <tr>
                                                <td>&nbsp;</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row new_question_form_container_row">
                    <div class="col-xs-12">
                    </div>
                </div>
            </div>
        </div>

    </div>









