<div class="row">
    <div class="col-xs-12" align="center">
        <b><u><h3>Topic: {{currentTopic}}</h3></u></b>
    </div>
</div>
<div class="row">
    <div class="col-xs-6">
        <b><u>Exercises</u></b>
        <br />
        <ul>
            <li ng-repeat="exercise in exercises">
                <a ng-click="exerciseClick(exercise)">{{exercise.question}}</a>
            </li>
        </ul>
    </div>
    <div class="col-xs-6">
        <b><u>Resources</u></b>
        <br />
        <ul>
            <li ng-repeat="resource in resources">
                <a href="{{resource.url}}"">{{resource.name}}</a>
            </li>
        </ul>
    </div>
</div>

<ng-include src="'modals.html'"></ng-include>