<!DOCTYPE html>
<html lang="en">
<head>
    <title>Learning Machine - Main Application Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <style>
        .topbar {
            background-color: blue;
            text-align: right;
            color: White;
            font-weight: Bolder;
            text-decoration: underline
        }

        .taglist {
            list-style: None;
            text-align: left;
        }

        .topiclinks, .taglinks {
            cursor: pointer;
        }
    </style>
</head>
<body>

<div class="container" ng-app="app" ng-controller="controller">
    <!-- Top row section-->
    <div class="row">
        <div class="col-xs-12 topbar">
            {{displayName}}
        </div>
    </div>

    <!-- Main body  -->
    <div class="row">

        <!-- tag section -->
        <div class="col-xs-3 tagarea">
            <b>Tags</b>
            <ul class="taglist">
                <li>Untagged</li>
                <li ng-repeat="tag in tags"><a class="taglinks" ng-click="tag_click(tag.id)">{{tag.name}}</a></li>
            </ul>
        </div>
        <div class="col-xs-9 topicarea" ng-show="showTopics">
            <h3><u>{{ current_tag }} Topics</u></h3>
            <br />
            <ul>
                <li ng-repeat="topic in topics">
                    <a class="topiclinks" ng-click="topic_click(topic.id)">{{topic.name}}</a>
                </li>
            </ul>
            <br />
            <table>
                <tr>
                    <td>&nbsp;</td>
                    <td><b><u>Add a topic</u></b></td>
                </tr>
                <tr>
                    <td>name:</td>
                    <td><input type="text" ng-model="new_topic_name" /></td>
                </tr>
                <tr>
                    <td>tags:</td>
                    <td><input type="text" ng-model="new_topic_tags" /></td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><button ng-click="add_topic_click()" class="btn btn-primary">Add</button></td>
                </tr>
            </table>
        </div>
        <div class="col-xs-9" ng-include="'exercise_resources.html'" ng-show="showExercises"></div>
    </div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="services.js"></script>
<script>


var controller = function($scope, categoryService, userService, exerciseService){
    $scope.current_tag = "Untagged"
    $scope.showTopics = true
    $scope.showExercises = false
    $scope.currentTopic = ""
    $scope.topics = []
    $scope.tags = []
    $scope.resources = []
    $scope.exercises = []
    $scope.currentExercise = {}
    $scope.currentExercise.question = "blank question"
    $scope.currentExercise.answer = "blank answer"
    $scope.currentExercise.id = 0

    userService.showUserName($scope)
    categoryService.refreshTagList($scope)

    $scope.add_topic_click = function(){
        categoryService.addTopicInfo($scope.new_topic_name, $scope.new_topic_tags)
        categoryService.refreshTagList($scope)

    }

    $scope.tag_click = function(tag_id){
        categoryService.updateTopicsList($scope, tag_id)
        $scope.showTopics = true
        $scope.showExercises = false
    }

    $scope.topic_click = function(topicId){
        exerciseService.setupExerciseDisplay($scope, topicId)
    }


    $scope.exerciseClick = function(exercise){
        $scope.currentExercise = exercise
        $("#questionModal").modal()
    }

    $scope.showAnswerClick = function(){
        $("#questionModal").modal("hide")
        $("#questionAnswerModal").modal()
    }

    $scope.scoreClick = function(score){
        exerciseService.submitScore($scope.currentExercise, score)
        $("#questionAnswerModal").modal("hide")
    }

}

var app = angular.module("app", [])
app.controller("controller", controller)
app.service("categoryService", CategoryService)
app.service("userService", UserService)
app.service("exerciseService", ExerciseService)

</script>
</body>
</html>
