<!DOCTYPE html>
<html lang="en">
<head>
    <title>Learning Machine - Main Application Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <style>
        .topbar {
            background-color: blue;
            text-align: right;
            color: White;
            font-weight: Bolder;
            text-decoration: underline
        }

        .taglist {
            list-style: None;
            text-align: left;
        }

        .topiclinks, .taglinks {
            cursor: pointer;
        }
    </style>
</head>
<body>

<div class="container" ng-app="app" ng-controller="controller">
    <!-- Top row section-->
    <div class="row">
        <div class="col-xs-12 topbar">
            {{activeUserObject.displayName}}
        </div>
    </div>

    <!-- Main body  -->
    <div class="row">

        <!-- tag section -->
        <div class="col-xs-3 tagarea">
            <b>Tags</b>
            <ul class="taglist">
                <li ng-repeat="tag in tags"><a class="taglinks" ng-click="tag_click(tag.id)">{{tag.name}}</a></li>
            </ul>
        </div>

        <div class="col-xs-9 topicarea" ng-show="showTopics" ng-include="'category/topics_body.html'"></div>
        <div class="col-xs-9" ng-include="'exercise/exercise_body.html'" ng-show="showExercises"></div>
    </div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="user/services.js"></script>
<script src="category/services.js"></script>
<script src="exercise/services.js"></script>

<script>


var controller = function($scope, $rootScope, categoryService, userService, exerciseService){
    $scope.currentTag = "Untagged"
    $scope.currentTopic = ""
    $scope.currentExercise = {}
    $scope.currentExercise.question = "blank question"
    $scope.currentExercise.answer = "blank answer"
    $scope.currentExercise.id = 0

    $scope.showTopics = true
    $scope.showExercises = false

    $scope.topics = []
    $scope.tags = []
    $scope.resources = []
    $scope.exercises = []



    userService.showUserName($scope)
    categoryService.refreshTagList($scope)

    $scope.tag_click = function(tag_id){
        categoryService.updateTopicsList($scope, tag_id)
        $scope.showTopics = true
        $scope.showExercises = false
    }

    $scope.topic_click = function(topicId){
        exerciseService.setupExerciseDisplay($scope, topicId)
    }


    $scope.exerciseClick = function(exercise){
        $scope.currentExercise = exercise
        $("#questionModal").modal()
    }

    $scope.showAnswerClick = function(){
        $("#questionModal").modal("hide")
        $("#questionAnswerModal").modal()
    }

    $scope.scoreClick = function(score){
        exerciseService.submitScore($scope.currentExercise, score)
        $("#questionAnswerModal").modal("hide")
    }

    $scope.addExerciseClick = function(){
        scope = $scopeId(9) // UGLY HACK: Temporary solution til better scoping solution comes up.
        exerciseService.addExercise(scope.newQuestion, scope.newAnswer, scope.currentTopicId)
        exerciseService.setupExerciseDisplay($scope, scope.currentTopicId)
    }

}

var addTopicController = function($scope, categoryService){
    $scope.add_topic_click = function(){
        categoryService.addTopicInfo($scope.new_topic_name, $scope.new_topic_tags)
        categoryService.refreshTagList($scope)
    }
}

var app = angular.module("app", [])
app.controller("controller", controller)
app.controller("addTopicController", addTopicController)

app.service("categoryService", CategoryService)
app.service("userService", UserService)
app.service("exerciseService", ExerciseService)

</script>
</body>
</html>
