<!DOCTYPE html>
<html lang="en">
<head>
    <title>Learning Machine - Main Application Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <style>
        .topbar {
            background-color: blue;
            text-align: right;
            color: White;
            font-weight: Bolder;
            text-decoration: underline
        }

        .taglist {
            list-style: None;
            text-align: left;
        }

        .topiclinks, .taglinks {
            cursor: pointer;
        }
    </style>
</head>
<body>

<div class="container" ng-app="app" ng-controller="controller">
    <!-- Top row section-->
    <div class="row">
        <div class="col-xs-12 topbar">
            {{activeObject.user.displayName}}
        </div>
    </div>

    <!-- Main body  -->
    <div class="row">

        <!-- tag section -->
        <div class="col-xs-3 tagarea" ng-controller="TagController">
            <b>Tags</b>
            <ul class="taglist">
                <li ng-repeat="tag in dataList.tags"><a class="taglinks" ng-click="tag_click(tag.id)">{{tag.name}}</a></li>
            </ul>
        </div>

        <div class="col-xs-9 topicarea" ng-show="showStatus.topics" ng-include="'category/topics_body.html'"></div>
        <div class="col-xs-9" ng-include="'exercise/exercise_body.html'" ng-show="showStatus.exercises"></div>
        <div class="col-xs-9" ng-include="'exercise/attempt_report.html'" ng-show="showStatus.attempts"></div>
    </div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="user/services.js"></script>
<script src="category/services.js"></script>
<script src="exercise/services.js"></script>
<script src="app.js"></script>
</body>
</html>
