<div id="exerciseList">
    <div ng-include="'exercise/modals.html'"></div>
    <table class="table">
        <tr>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
        <tr ng-repeat="exercise in ec.dataList.exercises | orderBy:'id':true">
            <td><a ng-click="ec.deleteExerciseClick(exercise.id)"><button class="btn btn-danger">delete</button></a></td>
            <td><a ng-click="ec.exerciseClick(exercise)">{{exercise.question}}</a></td>
            <td><a ng-click="ec.resourceButtonClick(exercise)"><button class="btn btn-info">resources</button></a></td>
        </tr>
    </table>
</div>