<!DOCTYPE html>
<html lang="en">
<head>
    <title>Flashmark - Main Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <style>
        .topbar {
            background-color: blue;
            text-align: right;
            color: White;
            font-weight: Bolder;
            text-decoration: underline
        }

    </style>
</head>
<body>

<!-- The main overall page template for the main app. -->
<div class="container" ng-app="app" ng-controller="MainController as mainController">

    <!-- Top row section showing user name-->
    <div class="row">
        <div class="col-xs-12 topbar" ng-controller="UserController as userController">
            {{userController.displayName}}
        </div>
    </div>

    <!-- Main body template -->
    <div class="row">


        <!--
         The two types of content that can show up in the central part of the application itself.
         * exercise_body - Exercises pertaining to a user specified topic.
         * attempt_report - A report displaying the user's history regarding how they graded themselves on different exercises.
        -->
        <nav class="navbar navbar-inverse" ng-controller="AttemptsReportController as arc">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#fm_navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="fm_navbar">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#" data-toggle="modal" data-target="#addExerciseModal" ng-show="mainController.showStatus.addFlashmarkButton">
                                Add Flashmark
                            </a>
                        </li>
                        <li><a href="#" ng-click="arc.viewAttemptsClick(mainController)">Exercise Attempts</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="col-xs-9"  ng-show="mainController.showStatus.exercises" ng-controller="ExerciseController as ec">

            <div ng-include="'exercise/modals.html'"></div>
            <div class="container overall_exercise_resource_container">
                <div class="row spacer_row">
                    <div class="col-xs-12">&nbsp;</div>
                </div>

                <div class="row report_button_row">
                    <div class="col-xs-12" align="center" ng-controller="AttemptsReportController as arc">
                        <a href="#" data-toggle="modal" data-target="#addExerciseModal"><button class="btn btn-primary">Add Flaskmark</button></a>
                        <a href="#" ng-click="arc.viewAttemptsClick(mainController)"><button class="btn btn-primary">Exercise Attempts</button></a>
                    </div>
                </div>

                <div class="row spacer_row">
                    <div class="col-xs-12">&nbsp;</div>
                </div>

                <div class="row exercise_resource_containers_row">
                    <div class="col-xs-12 exercise_container_column">
                        <div class="container exercise_container">
                            <div class="row exercise_title_row">
                                <div class="col-xs-12" align="center">
                                    <u><b>Exercises</b></u>
                                </div>
                            </div>
                            <div class="row exercise_data_table_row">
                                <div class="col-xs-12">
                                    <table class="table">
                                        <tr>
                                            <th>&nbsp;</th>
                                            <th>&nbsp;</th>
                                        </tr>
                                        <tr ng-repeat="exercise in ec.dataList.exercises | orderBy:'id':true">
                                            <td><a ng-click="ec.deleteExerciseClick(exercise.id)"><button class="btn btn-danger">delete</button></a></td>
                                            <td><a ng-click="ec.exerciseClick(exercise)">{{exercise.question}}</a></td>
                                            <td><a ng-click="ec.resourceButtonClick(exercise)"><button class="btn btn-info">resources</button></a></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="row new_question_form_container_row">
                                <div class="col-xs-12">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="col-xs-9" ng-show="mainController.showStatus.attempts">
            <!-- HTML for the display of a report on attempts at different exercises by the user -->
            <div class="row">
                <div class="col-md-12">
                    <!-- Link to bring the user back to the exercises -->
                    <div ng-controller="ExerciseController as ec" align="center">
                        <br />
                        <a  href="#" ng-click="ec.viewExercisesClick(mainController)"><button class="btn btn-primary">Back to Exercises</button></a><br />
                    </div>
                    <h3><span align="center">Attempts Report</span></h3><br />
                    <ul>
                        <li ng-repeat="entry in mainController.report.attempts">
                            <b><u>Question: </u></b>{{ entry.question }}<br />
                            <table class="table table-striped">
                                <tr>
                                    <th>Attempt Date</th>
                                    <th>Score</th>
                                </tr>
                                <tr ng-repeat="attempt in entry.attempts">
                                    <td>{{ attempt.when_attempted | date:'medium' }}</td>
                                    <td>{{ attempt.score | lmScoreWord }}</td>
                                </tr>
                            </table>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.min.js"></script>
<script src="user/services.js"></script>
<script src="exercise/services.js"></script>
<script src="app.js"></script>
</body>
</html>
