<!-- HTML for the display of a report on attempts at different exercises by the user -->
<div class="row">
    <div class="col-md-12">
        <h3><span align="center">Attempts Report</span></h3><br />
        <ul>
            <li ng-repeat="entry in report.attempts">
                <b><u>Topic: </u></b>{{ entry.topic }}
                <ul>
                    <li ng-repeat="exercise in entry.exercises">
                        {{ exercise.question }}
                        <ul>
                            <table class="table table-striped">
                                <tr>
                                    <th>Attempt Date</th>
                                    <th>Score</th>
                                </tr>
                                <tr ng-repeat="attempt in exercise.attempts">
                                    <td>{{ attempt.when_attempted }}</td>
                                    <td>{{ attempt.score | lmScoreWord }}</td>
                                </tr>
                            </table>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>